@font-face {
    font-family: Asimov;
    src: url("/fonts/Asimov.otf") format("opentype");
}

@font-face {
    font-family: Asimov;
    font-weight: bold;
    src: url("/fonts/Asimov.otf") format("opentype");
}

body { 
    background-color: rgb(70, 69, 69);
}

h1 { 
    color: tomato;
    margin-left: 10
    0px;
}