$backgroundColor: #466655;
$bodyColor: #6448b8;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

@font-face {
  font-family: Asimov;
  src: url("/assets/fonts/Asimov.otf") format("opentype");
}
@font-face {
  font-family: Mons;
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("opentype");
}

$toadking : #466655;
$illgreen : #47946e;
$purpleill : #b0acf2;
$moonraker : #b9aedb;

$nocturne: #33485c;
$montreux-blue: #527aa1;
$treasure-map-waters: #6093b0;
$tranquili-teal: #68a4ae;
$sereni-teal: #72b4ae;
$riverbed: #8abdb9;

$header_color : $tranquili-teal;
$backgroundColor : $nocturne;
$post_color : $montreux-blue;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;

}

.post { 
  margin: 40px;
  // width: 500px;
  // height: 500px;
  outline: inset 0px black;
  background-color: $post_color;
  color: #ffffff;
}

.post_content { 
  margin: 40px 40px 40px 40px;
  padding: 30px 30px 30px 30px;
  background-color: $treasure-map-waters;
  // margin-top: 20px;
  // margin-bottom: 20px;
}

.homeheader { 
  padding: 60px;
  text-align: left;
  background: $header_color;
  color: #ffffff;
  font-size: 30px;
  // font-family: Mons;
  a { text-decoration: none;
      color:#ffffff
  }
}

.what { 
  float: right;
}

