<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{" assets/css/main.css"}}">
  <!-- Primary Meta Tags -->
  <title></title>
  <meta name="title" content="">
  <meta name="description" content="(ง︡'-'︠)ง">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:description" content="(ง︡'-'︠)ง">
  <meta property="og:image" content="/assets/images/earl.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="">
  <meta property="twitter:description" content="(ง︡'-'︠)ง">
  <meta property="twitter:image" content="/assets/images/earl.jpg">
</head>

<body>
  {{ content }}
</body>

</html>